@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mission 4 - Austin Stowe</title>
    <!--Fav icon-->
    <link rel="icon" href="/img/thumbs-up-emoji-476x512-dj06q5b2.png" type="image/x-icon">
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="css/myStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br />
            <h1>Austin Stowe</h1>
            <br /><br />
            <div class="row">
                <div class="col-md-4">
                    <p>In IS 413, I hope to familiarize myself with the C# language and the ASP.NET framework. I want to better my understanding of web development and become familiar with new frameworks, libraries, and tools to futher my abilities and develop my skills. I also want to grow my appreciation and love for programming and web development.</p>
                </div>
                <div class="col-md-4">
                    <img src="img/9B794874-9E76-4134-BB21-22FFD058C9AB.jpg" />
                </div>
                <div class="col-md-4">
                    <h3>Top 3 Jobs</h3>
                    <ol>
                        <li>Development</li>
                        <li>Project Management</li>
                        <li>Data Analytics</li>
                    </ol>
                </div>
            </div>
            <br />
            <br />
            <h2>Grade Calculator</h2>
            <!--Form for calculator-->
            <form>
                <div class="row">
                    <div class="col-md-3" id="calc">
                        <br />
                        <label>Assignments: </label>
                        <input type="number" step="1" placeholder="%" required min="0" max="100" id="assignments" />
                        <br />
                        <label>Group Project: </label>
                        <input type="number" step="1" placeholder="%" required min="0" max="100" id="project" />
                        <br />
                        <label>Quizzes: </label>
                        <input type="number" step="1" placeholder="%" required min="0" max="100" id="quiz" />
                        <br />
                        <label>Midterm Exam: </label>
                        <input type="number" step="1" placeholder="%" required min="0" max="100" id="midterm" />
                        <br />
                        <label>Final Exam: </label>
                        <input type="number" step="1" placeholder="%" required min="0" max="100" id="final" />
                        <br />
                        <label>INTEX: </label>
                        <input type="number" step="1" placeholder="%" required min="0" max="100" id="intex" />
                        <br /><br />
                        <button id="calcButton" type="button">Calculate</button>
                    </div>
                    <div class="col-md-5">
                        <h4>Calculated grade: </h4>
                        <span id="output"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="js/Calculator.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>