<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!--Fav icon-->
    <link rel="icon" href="~//img/thumbs-up-emoji-476x512-dj06q5b2.png" type="image/x-icon">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/myStyles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Calculator">Calculator</a>
    </nav>﻿
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/js/Calculator.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
